.App{
  background-color: #333e51;
  height: 100vh;
}
.font{
  font-family: 'Lato', sans-serif;
}
.navbar{
  /* background-color: transparent; */
  box-shadow: 0px 0px 7px;
}
.filter{
  box-shadow: 0px 0px 7px
}
.footer{
  box-shadow: 0px 0px 7px black
}
.landing {
  background-image: url("./assets/LandingImg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.error{
  color: red;
}
.glitch {
  color: rgb(223, 191, 191);
  position: relative;
  font-size: 9vw;
  animation: glitch 3s 3s infinite;
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: -5px 0 magenta;
  background: black;
  overflow: hidden;
  top: 0;
  animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -5px 0 lightgreen;
  background: black;
  overflow: hidden;
  top: 0;
  animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
}

@keyframes glitch {
  1%{
    transform: rotateX(10deg) skewX(90deg);
  }
  2%{
    transform: rotateX(0deg) skewX(0deg);
  }
}

@keyframes glitch-2 {
  1%{
    transform: rotateX(10deg) skewX(70deg);
  }
  2%{
    transform: rotateX(0deg) skewX(0deg);
  }
}


.loading-spinner {
  width: 30px;
  height: 30px;
  margin-top: 1rem;
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
.Cartloading-spinner {
  width: 20px;
  height: 20px;
  /* margin-top: 1rem; */
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.dream{
   font-family: 'Londrina Outline', cursive;
}
.power{
  font-family: 'Orbitron', sans-serif;
}
.bg{
  z-index: -100px;
}
.logo-cont{
  transform: translateX(-50%);
}